@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  /* Color */
  --color-pink: #fd0272;
  --color-yellow: #ffdd4d;
  --color-grey_light: #ecedf2;
  --color-grey: #868a94;
  --color_grey_dark: #333333;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
